.container-user {
  width: 100%;
  max-width: 1100px;
  margin: 50px auto;
  background-color: var(--black-secondery);
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.container-profile {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profile-name, .profile-bio, .profile-followers, .profile-repos {
  display: block;
}


.profile-name {
  font-size: 32px;
}

.profile-bio, .profile-followers, .profile-repo {
  padding: 10px;
  color: var(--black-primary);
  border-radius: 5px;
  border: 1px solid var(--black-primary);
  background-color: var(--link-primary);
}

.profile-img {
  border-radius: 5px;
}

.container-img {
  width: 497px;
  height: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  background-color: var(--black-primary);
  border-radius: 5px;
  width: 497px;
  box-sizing: border-box;
  padding: 20px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 872px) {
  .container-profile {
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
  }
}

@media screen and (max-width: 532px) {
  .container-img, .profile {
    width: 400px;
  }
}

@media screen and (max-width: 445px) {
  .container-img, .profile {
    width: 280px;
  }
}