.container-repositorys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.repository {
  padding: 10px;
  border: 1px solid var(--link-primary);
  border-radius: 5px;
  width: 475px;
}