.container-initial {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial-text {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  font-size: 19px;
  border: 1px solid var(--link-primary);
  width: 500px;
  height: 200px;
}