* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black-primary: #090C10;
  --black-secondery: #161b22;
  --link-primary: #cdd3e7;
  --link-secondery: #74828B;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black-primary);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--link-primary);
  text-decoration: none;
}

a:hover {
  color: var(--link-secondery);
}